# Duh
.env
.env.*
*.key
*.pem
*.crt

# Tmux
tmux/.config/tmux/plugins/*
!tmux/.config/tmux/plugins/tpm

# Fish
fish/.config/fish/config.local.fish
fish/.config/fish/fish_variables
fish/.config/fish/fish_history
fish/.config/fish/conf.d/*
fish/.config/fish/functions/*
fish/.config/fish/completions/*

!fish/.config/fish/functions/eza.fish
!fish/.config/fish/functions/agent_load.fish
!fish/.config/fish/functions/rfnvim.fish
!fish/.config/fish/functions/cat.fish

# Zellij
zellij/.config/zellij/plugins/*
!zellij/.config/zellij/plugins/.gitkeep
