# Duh
.env
.env.*
*.key
*.pem
*.crt

# Tmux
Configs/tmux/.config/tmux/plugins/*
!Configs/tmux/.config/tmux/plugins/tpm

# Fish
Configs/fish/.config/fish/config.local.fish
Configs/fish/.config/fish/fish_variables
Configs/fish/.config/fish/fish_history
Configs/fish/.config/fish/conf.d/*
Configs/fish/.config/fish/functions/*
Configs/fish/.config/fish/completions/*

!Configs/fish/.config/fish/functions/eza.fish
!Configs/fish/.config/fish/functions/agent_load.fish
!Configs/fish/.config/fish/functions/rfnvim.fish
!Configs/fish/.config/fish/functions/cat.fish
!Configs/fish/.config/fish/functions/jqfz.fish

# Zellij
Configs/zellij/.config/zellij/plugins/*
!Configs/zellij/.config/zellij/plugins/.gitkeep
