layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
            
              // Tokyo-night dark theme colors
              color_bg        "#231e2c"
              color_white     "#c0caf5"
              color_dim       "#565f89"
              color_blue  "#89b4fa"
              color_sapphire  "#2ac3de"
              color_cyan    "#7dcfff"
              color_green     "#9ece6a"
              color_dark_green  "#40a02b"
              color_magenta   "#c099ff"
              color_purple    "#aa9af7"
              color_yellow    "#e0af68"
              color_orange    "#ff9e64"
              color_red       "#f7768e"
              color_grey      "#545555"

              color_crust     "#15161e"
              
              // None of the following settings can be had with pane_frames "true"
              // hide_frame_for_single_pane, hide_frame_except_for_search, hide_frame_except_for_scroll, hide_frame_except_for_fullscreen

              mode_normal "#[fg=$crust,bg=$yellow,bold] {name}#[fg=$yellow,bg=$bg]"
              mode_locked "#[fg=$crust,bg=$dark_green,bold] {name}#[fg=$dark_green,bg=$bg]"
              mode_resize "#[fg=$crust,bg=$blue,bold] {name}#[fg=$blue,bg=$bg]"
              mode_pane "#[fg=$crust,bg=$purple,bold] {name}#[fg=$purple,bg=$bg]"
              mode_tab "#[fg=$crust,bg=$purple,bold] {name}#[fg=$purple,bg=$bg]"
              mode_search "#[fg=$crust,bg=$cyan,bold] {name}#[fg=$cyan,bg=$bg]"
              mode_enter_search "#[fg=$crust,bg=$cyan,bold] {name}#[fg=$cyan,bg=$bg]"
              mode_tmux "#[fg=$crust,bg=$magenta,bold] {name}#[fg=$magenta,bg=$bg]"
             
              format_left "#[bg=$bg,fg=$sapphire]#[bg=$sapphire,fg=$crust] {session} #[bg=$bg] {mode}#[bg=$bg] {tabs}"
              format_center "{notifications}"
              format_right "{command_uptime}"
              format_space "#[bg=$bg]" 

              border_enabled "false"
              
              tab_normal "#[fg=$blue,bg=$bg]#[fg=$crust,bg=$blue]{index} #[fg=$blue,bg=$grey] {name}#[fg=$grey,bg=$bg]"
              tab_active "#[fg=$green,bg=$bg]#[fg=$crust,bold,bg=$green]{index} #[fg=$green,bold,bg=$grey] {name}#[fg=$grey,bg=$bg]"
              tab_separator " "
              tab_rename "#[fg=$yellow,bg=$bg]#[fg=$crust,bold,bg=$yellow]{index} #[fg=$yellow,bold,bg=$grey] {name}#[fg=$grey,bg=$bg]"
              tab_zero_based_index "false"
              
              notification_format_unread "#[bg=$bg,fg=$orange]#[bg=$orange,fg=$crust] #[bg=$bg,fg=$orange] {message}#[bg=$bg,fg=$orange]"
              notification_format_no_notifications ""
              notification_show_interval "10"

              command_uptime_command "fish -c \"uptime -p | sed 's/up //' | tr -d ',' | sed -E 's/([0-9]+) hours?/\\1h:/; s/([0-9]+) minutes?/\\1m/; s/([0-9]+) days?/\\1d:/; s/[[:space:]]+//g'\""
              command_uptime_format "#[fg=$purple,bg=$bg]#[fg=$crust,bg=$purple,bold] UPTIME #[fg=$purple,bg=$bg] #[fg=$white,bg=$bg]{stdout} "
              command_uptime_interval "60"
              command_uptime_rendermode "static"

            }
        }

        children

        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
}
